.btn-normal {
  background: rgb(86,171,47);
  background: linear-gradient(0deg, rgba(86,171,47,1) 0%, rgba(168,224,99,1) 100%);
  background-color: linear;
  border-radius: 29px;
  color: #fff;
  width: 40%;
  box-shadow: 4px 4px 8px #56ab2f25;
}

.btn {
  text-decoration: none;
}
