.container-footer {
  background-color: #fff;
  padding: 10px 0;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  padding: 0px;
  margin: 0;
}

i {
  font-size: 28px;
  color: #C6C6C6;
}

i:hover {
  color: #A8E063;
}
