.message-container {
}

.recent-container{
  background-color: #fff;
  border: 1px solid #DBE7E3;
  box-shadow: 4px 4px 8px #56ab2f25;
  margin-top: 1rem;
  height: 56vh;
  width: 48vh;
  border-radius: 20px;
  flex-shrink: 0;
  scroll-behavior: smooth;
  white-space: nowrap;
}

.recents-container {
  display: grid;
  flex-wrap: nowrap;
  overflow-x: scroll;
  grid-template-columns: 86%;
  grid-auto-flow: column;
  padding-bottom: 16px;
  grid-gap: 8px;
}
