.location-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card-info {
  display: flex;
  gap: 2rem;
  margin-left: 1.5rem;
}

.card {
  background-color: #fff;
  border: 1px solid #DBE7E3;
  box-shadow: 4px 4px 8px #56ab2f25;
  margin-top: 1rem;
  height: 26vh;
  width: 50vh;
  border-radius: 20px;
  // border: 2px solid black;
  // width: 85%;
  // padding: 1rem;
  // border-radius: 18px;
  // margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.image_location {
  width: 7rem;
  height: auto;
  border-radius: 10px;
}

.location-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-info-drop{
  display: flex;
  justify-content: center;
  align-items: center;
}
