.location-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card-info {
  display: flex;
  justify-content: center;
  align-items: center;
  // gap: 1.4rem;
  // position: absolute;
  margin-right: 100px;
}

.back-arrow {
  margin-right: 80px;
}

.card {
  background-color: #fff;
  border: 1px solid #DBE7E3;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 1rem;
  height: 26vh;
  width: 50vh;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding:10px;
}

.image_location {
  width: 9.9rem;
  height: auto;
  margin-left: 1rem;
  border-radius: 10px;
}

.image_plants {
  width: 8rem;
  height: auto;
}

.location-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-info-drop{
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-info-plant {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
  width: 230px;
}
