<p>hello</p>

<div class="location-container">
  <% @location.plants.each do |plant| %>
    <div class="card-info p-3">
      <p><strong><%= plant.name%></strong></p>
      <p><strong>age<%=plant.age %></strong></p>
      <p><strong>level<%= plant.level%></strong></p>
    </div>
  </div>
  <% end %>
</div>
