<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <%= simple_form_for Location.new do |f| %>
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">New Location</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <%= f.input :name %>
      </div>
      <div class="modal-footer">
        <button type="button" class="mybtn3" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="mybtn3">Save changes</button>
      </div>
    </div>
    <% end %>
  </div>
</div>
